@font-face {
  font-family: "Metro Photograph - Demo Version";
  src: url(MetroPhotograph-DemoVersion-Regular.otf);
}

@font-face {
  font-family: "CanelaTextTrial-Thin";
  src: url(CanelaText-Thin-Trial.otf);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #9ea39e;
}
/* Header */
.main-navbar {
  width: 100%; 
  padding: 30px 0;
  background-color: #191353;
  position: sticky; /*fixed fucks up the video on main. even though they werk similarly its prob*/
  top: 0; /* moves it to the top */
  z-index: 1000; 
}

.main-navbar-content {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 70px;
}

.main-navbar-content a {
  color: #ffffff;
  font-family: "Metro Photograph - Demo Version", Arial, sans-serif;
  font-size: 48px;
  text-decoration: none;
}

.main-navbar-content a:hover {
  color: #e600ff;
}

/* Sidebar Navigation */
#navbar {
  width: 280px;
  height: 100vh;
  background-color: #191353;
  margin-top: -136px;
  position: fixed; 
  padding: 20px;
  z-index: 2000; 
}

#navbar header {
  color: #ffffff;
  font-family: "Metro Photograph - Demo Version", Arial, sans-serif;
  font-size: 48px;  
  padding-left: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #191353;
}

/* alighing of the sidemenu */
#navbar ul {
  padding-left: 30px;
  padding-top: 20px;
}

#navbar ul li {
  margin-bottom: 30px;
  margin-right: 5px;
  list-style: none;
  font-family: "Metro Photograph - Demo Version", Arial, sans-serif;
  
  /* font-size: 30px; */
}

#navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}

#navbar ul li a:hover {
  color: #e600ff;
  text-decoration: underline;
}

#navbar ul li a.sub-menu-text {
  font-size: 45px;
  color: #e600ff;
}

#navbar ul li a.sub-menu-text:hover {
  text-decoration: none; /* Prevent underline on hover */
}
/* Main Content */
.content {
  margin-left: 350px;
  margin-top: 30px;
  padding: 20px;
}

/* Hero Section */
.hero-section {
  text-align: center;
  position: relative;
  top: 0;
  z-index: 1;
}

.video-wrapper {
  position: relative;
  padding-bottom: 45%; 
  height: 0;
  overflow: hidden;
  background-color: transparent;
}

.video-wrapper video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* Main Sections */
.main-section {
  min-height: 100vh;
  width: 100%;
  border-bottom: 5px dashed #000;
}

.main-section header {
  color: #ffffff;
  font-size: 54px;
  padding-top: 30px;
}

.main-section ul li {
  margin-bottom: 15px;
  font-size: 35px;
  background-color: transparent;
}

.main-section ul li:hover {
  color: #e600ff;
}

/* Intro Section */
.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
}

.background-image {
  position: absolute;
  top: 955px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.intro-left {
  flex: 1;
}

.intro-left h2 {
  font-family: "CanelaTextTrial-Thin";
  font-size: 70px;
  margin: 60px;
  color: #000000;
  margin-top: 5%;
}

.images {
  display: flex;
  gap: 10px;
  margin: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.first-image,
.second-image {
  width: 100%;
  max-width: 370px;
  height: auto;
  margin: 40px;
}

.second-image {
  width: 400px;
  height: 528px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  display: block;
}

.intro-right {
  flex: 1;
  max-width: 32%;
  text-align: right;
  margin-top: 120px;
  margin-bottom: 40px;
}

.intro-text {
  font-family: "CanelaTextTrial-Thin";
  font-size: 45px;
  color: #ffffff;
  padding: 20px;
  margin: 20px;
  margin-top: 90px;
}

/* Image Container */
.img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.img-container img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

/* more accurate */

.image-align {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 30px; 
  padding: 10px;
  flex-wrap: wrap; 
  max-width: 100%; 
}

.image-align img {
  max-width: 50%; 
  height: auto; 
}

.large-image {
  width: 60%; 
}

.small-image {
  width: 30%;
}


/* two on one line  */

.image-2-aline {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns, each taking equal space */
  gap: 10px; 
  margin: 0;
}

.image-2-aline img {
  /* 653.5 x 538.03 */
  /*
   width: 100%; 
  height: 100%;  */
  width: auto;
  object-fit: cover; 
  max-width: 100%; 
  max-height: auto; 
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-navbar-content {
    justify-content: center;
    padding-right: 0;
    gap: 20px;
  }

  .main-navbar-content a {
    font-size: 24px;
  }

  .content {
    margin-left: 0;
    padding: 20px;
  }

  .intro-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .intro-text {
    text-align: left;
    margin-right: 0;
  }

  .images {
    justify-content: center;
  }
}

/* js */
.hidden {
  display: none;
}

button {
  background-color:#e600ff;
  color: white; 
  padding: 12px 20px; 
  border: none; 
  cursor:pointer; 
  border-radius: 4px; 
  font-size: 16px; 
  margin-left: 45px;
}

button:hover {
  background-color:#6058a8;
}

/* Additional Styling */
h1 {
  font-size: 140px;
  color: #191353;
  font-family: "Metro Photograph - Demo Version";
  text-decoration: underline;
  text-align: center;
  margin: 120px;
}

h2 {
  font-size: 100px;
  color: #000000;
  /* font-family: "CanelaTextTrial-Thin"; */
  font-family: "Metro Photograph - Demo Version";
}

h3 {
  font-size: 35px;
  font-style: oblique;
  color: #000000;
  margin: 120px;
  /* padding: 10px; */
  text-align: center;
}

h4 {
  font-size: 80px;
  font-style: oblique;
  color: #d80404;
  font-family: "Metro Photograph - Demo Version";
  /* text-decoration:underline; */
}


p {
  line-height: 50px;
  text-align: justify;
  margin-right: 50px;
  padding: 0;
  font-size: 30px;
  /* font-family: "CanelaTextTrial-Thin"; */
  
}

.h-light {
  background: #6a65fc;
  /* color: #000; */
  padding: 0 5px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 125px;
}